.footer {
    display: flex;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    max-width: 656px;
    min-height: 48px;
    background-color: aliceblue;
    padding-bottom: 10px;
}

.emoji {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 48px;
    margin-left: 12px;
}

.sendUpload {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 72px;
    height: 48px;
    margin-right: 12px;
    padding: 0 12px;
}


.input {
    max-width: 520px;
    height: 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}