.form {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    max-width: 656px;
    min-height: 48px;
    box-shadow: 0px 0px 0px 1px #E5E5EA inset;
    background-color: white;
}

.emoji {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 48px;
    margin-left: 12px;
}

.sendUpload {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 72px;
    height: 48px;
    margin-right: 12px;
    padding: 0 12px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.edit {
    position: absolute;
    top: -25px;
    left: 50px;
    color: brown;
}