.message {
    position: relative;
    margin-top: 51px;
    margin-right: 16px;
    min-width: 130px;
    background-color: #007AFF;
    padding: 4px 8px;
    float: right;
    border-radius: 6px;
    color: #FFFFFF;
    height: 39px;
}

.time {
    float: right;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.mark {
    float: right;
    margin-left: 4px;
}

.bubbleTip {
    position: absolute;
    right: -9px;
    top: -3px;
}