.messages {
    position: relative;
    max-width: 656px;
    min-height: 100vh;
    padding-bottom: 150px;
}

.currentTime {
    color: #666668;
    font-size: 12px;
}

.messagesWrapp {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin-top: 4px;
    width: 100%;
}

.botMessage {
    display: flex;
}

.currentTime {
    padding-top: 17px;
    text-align: center;
}

.userMessage {
    margin-top: 16px;
}