.message {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 6px;
    margin-right: 16px;
    min-width: 130px;
    max-width: 315px;
    background-color: #007AFF;
    padding: 4px 8px;
    float: right;
    border-radius: 6px;
    color: #FFFFFF;
    min-height: 39px;
    word-wrap: break-word;
}

.content {
    max-width: 200px;
}

.time {
    float: right;
    display: flex;
    align-items: flex-end;
    font-size: 12px;
}

.mark {
    float: right;
    margin-left: 4px;
}

.bubbleTip {
    position: absolute;
    right: -9px;
    top: -3px;
}

.buttonWrapp {
    display: flex;
    justify-content: space-between;
    width: 45px;
    position: absolute;
    right: 5px;
}

.editInput {
    background-color: rgba(53, 98, 137, 0.491);
    padding-left: 7px;
}