.messages {
    position: relative;
    width: 656px;
    /* height: calc(100vh - 68px); */
    min-height: 844px;
    padding-bottom: 150px;
}

.currentTime {
    color: #666668;
    font-size: 12px;
}

.messagesWrapp {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin-top: 20px;
    width: 100%;
}

.botMessage {
    display: flex;
}

.currentTime {
    padding-top: 17px;
    text-align: center;
}

.userMessage {
    position: relative;
}